body{
    justify-content: center;
    align-items: center;    
    background-color: black;
    
}
.init{
    background-image: linear-gradient(to bottom, #3b1911, #c91d17ef);
    width: 80vw;
    height: 80vh;
    background-image: url("./img/jogo.webp");
    background-size: cover;
    background-position: center; 
}
.buttonInit {
    
    padding: 60px 210px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    background-size: cover;
    background-position: center;
    background-image: url("./img/press-start-gif.gif");
}
.gato{

    background-image: url("./img/gato.gif");
    width: 230px;
    height: 220px;
}
.cat{

    background-image: url("./img/cat.jpg");
    width: 230px;
    height: 220px;
}